<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="/css/registro.css"> <!-- Verifique se este caminho está correto -->
</head>
<body>
    <div class="container"> <!-- Adicionando uma div container -->
        <h1>Registrar</h1>
        <form action="/register" method="POST">
            <label for="username">Usuário:</label>
            <input type="text" id="username" name="username" required>

            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" required>

            <label for="confirm-password">Confirmar Senha:</label>
            <input type="password" id="confirm-password" name="confirm_password" required>

            <button type="submit">Registrar</button>
        </form>

        <p>Já possui uma conta? <a href="login.html">Faça login</a></p> <!-- Link para a página de login -->

        <script>
            const form = document.querySelector('form');
            form.addEventListener('submit', function (e) {
                const password = document.getElementById('password').value;
                const confirmPassword = document.getElementById('confirm-password').value;

                if (password !== confirmPassword) {
                    e.preventDefault(); // Impede o envio do formulário
                    alert('As senhas não coincidem');
                }
            });
        </script>
    </div>
</body>
</html>
